<!DOCTYPE HTML>
<html>
	<head>
		<title>Entrada</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Descripcion -->
						<div class="inner">
							<span class="image">
							</span>

							<!-- Header -->
							<header>
								<h1 align="center">BLOG MULTITEMA</h1>
							</header>
						</div>
							<!-- Entrada -->
						<div class="style2" id="main">
							<tbody>
								<h4 align="center"><p> {{contact.1}} </p></h4>
								<h4 align="center"><p> {{contact.2}} </p></h4>
								<h4> {{contact.3}} </h4>
								<p></p>
								<h4 align="center"> {{contact.4}} </h4>
							</tbody>
								<p>
									<div>
										<h3 align="center"><a href="/edit/{{contact.0}}">EDITAR ENTRADA</a></h3>
									</div>
								</p>
						</div>

				<!-- Footer -->
					<footer id="footer">
						<div align=center><a href='https://github.com/ridoutdev'>Haz click aqui para visitar mi GitHub</a></div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>